<!DOCTYPE html>
<html>
<head>
	<title>Maia</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
	
<h1>Maia</h1>

<%= link_to "Check database consistency" ,patients_path, html: {method: :report_full_consistency} %>



</body>
</html>
